body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.alert {
  top: 50px;
  margin: 30px;
}
#alert {
  background-color: rgb(206, 205, 216);
  border: 1px solid rgb(119, 135, 138);
  color: black;
  position: fixed;
  width: 93%;
}
